*{
    box-sizing: border-box;
}
.movie{
    width: 20rem;
    margin: 20px;
    height: 20rem;
    background-color: aqua;
}
.movie-card{
    margin: 50px;
    transform: scale(1.2);
}
.movie-card:hover{
    cursor: pointer;
    transform: scale(1.21);
}
.movie-details-btn{
    position: absolute;
    bottom: 1rem;
}
.banner-desc{
    position: absolute;
    bottom: 1rem;
}
.favorties-genres{
    padding: 3rem;
}
.favorites-input{
    width: 100%;
}
.favorites-table{
    padding: 3rem;
}
.genre-btn{
    padding: 3rem;
}

